<p>Primary font: "HelveticaNeue", "Helvetica", "Arial", sans-serif;</p>
<p class="u-text-size-2">
ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
abcdefghijklmnopqrstuvwxyz<br>
1234567890!@£$%^&*()+=
</p>


<p><strong>Primary font bold: "HelveticaNeue", "Helvetica", "Arial", sans-serif;</strong></p>
<p class="u-text-size-2">
<strong>
ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
abcdefghijklmnopqrstuvwxyz<br>
1234567890!@£$%^&*()+=
</strong>
</p>