<div role="typography-rules">

<h1 class="u-text-size-000">Oversized font size 000.</h1>
<h1 class="u-text-size-0">Oversized heading and font size level 0.</h1>
<h1>Heading and font size level 1.</h1>
<h2>Heading and font size level 2.</h2>
<h3>Heading and font size level 3.</h3>  
<h4>Heading and font size level 4.</h4>
<h5>Heading and font size level 5.</h5> 
<h6>Heading size level 6.</h6>

</div>