<div role="typography-rules">

<h1 class="size000">Oversized font size 000.</h1>
<h1 class="size0">Oversized heading and font size level 0.</h1>
<h1>Heading and font size level 1.</h1>
<h2>Heading and font size level 2.</h2>
<h3>Heading and font size level 3.</h3>  
<h4>Heading and font size level 4.</h4>

<p>There is no point in specifing levels 5 or 6. If you're nesting headings that far you're doing something wrong</p>

</div>