<!-- Unordered List -->
<h3 class="u-text-size-5">Unordered list.</h3>
<ul>
  <li>Apple

    <ul>
      <li>Allington Pippin</li>
      <li>Ambrosia</li>
      <li>Anna</li>
      <li>Annurca</li>
    </ul>

  </li>
  <li>Banana</li>
  <li>Orange</li>
  <li>Pear</li>
</ul>

<!-- Ordered List -->
<h3 class="u-text-size-5">Ordered list.</h3>
<ol>
  <li>Apple</li>
  <li>Banana</li>
  <li>Orange

    <ol>
      <li>Kumquats</li>
      <li>Moro Blood</li>
      <li>Navel</li>
      <li>Valencia</li>
    </ol>

  </li>
  <li>Pear</li>
</ol>

<!-- Unordered, plain List -->
<h3 class="u-text-size-5">Unordered, plain list.</h3>
<ul class="list--plain">
  <li>Apple</li>
  <li>Banana</li>
  <li>Orange</li>
  <li>Pear</li>
</ul>



<!-- Definition list -->
<h3 class="u-text-size-5">Definition list.</h3>
<dl>
  <dt>Favourite</dt>
  <dd>Apple</dd>

  <dt>Most eaten</dt>
  <dd>Banana</dd>
  
  <dt>Sticky</dt>
  <dd>Orange</dd>
  
  <dt>Weird shape</dt>
  <dd>Pear</dd>
</dl>

<!-- Split definition list -->
<h3 class="u-text-size-5">Split definition list.</h3>
<dl class="definition--split">
  <dt>Favourite</dt>
  <dd>Apple</dd>

  <dt>Most eaten</dt>
  <dd>Banana</dd>
  
  <dt>Sticky</dt>
  <dd>Orange</dd>
  
  <dt>Weird shape</dt>
  <dd>Pear</dd>
</dl>