<!-- Unordered List -->
<ul>
  <li>Apple

    <ul>
      <li>Allington Pippin</li>
      <li>Ambrosia</li>
      <li>Anna</li>
      <li>Annurca</li>
    </ul>

  </li>
  <li>Banana</li>
  <li>Orange</li>
  <li>Pear</li>
</ul>

<!-- Ordered List -->
<ol>
  <li>Apple</li>
  <li>Banana</li>
  <li>Orange

    <ol>
      <li>Kumquats</li>
      <li>Moro Blood</li>
      <li>Navel</li>
      <li>Valencia</li>
    </ol>

  </li>
  <li>Pear</li>
</ol>

<!-- Unordered, plain List -->
<ul class="list--plain">
  <li>Apple</li>
  <li>Banana</li>
  <li>Orange</li>
  <li>Pear</li>
</ul>

<!-- Links list -->
<ul class="list--links">
  <li><a href="#" class="icon-chevron-right-thin">Apple</a></li>
  <li><a href="#" class="icon-chevron-right-thin">Banana</a></li>
  <li><a href="#" class="icon-chevron-right-thin">Orange</a></li>
  <li><a href="#" class="icon-chevron-right-thin">Pear</a></li>
</ul>

<!-- Icon list -->
<ul class="list--icons">
  <li class="icon-pound-circle">A list item with an icon.</li>
  <li class="icon-checkbox-tick">A list item with an icon.</li>
  <li class="icon-phone-download">A list item with an icon with a long piece of text next to it so you can see how it wraps.</li>
  <li class="icon-apple">A list item with an icon.</li>
</ul>

<!-- Definition list -->
<dl>
  <dt>Favourite</dt>
  <dd>Apple</dd>

  <dt>Most eaten</dt>
  <dd>Banana</dd>
  
  <dt>Sticky</dt>
  <dd>Orange</dd>
  
  <dt>Weird shape</dt>
  <dd>Pear</dd>
</dl>

<!-- Split definition list -->
<dl class="definition--split">
  <dt>Favourite</dt>
  <dd>Apple</dd>

  <dt>Most eaten</dt>
  <dd>Banana</dd>
  
  <dt>Sticky</dt>
  <dd>Orange</dd>
  
  <dt>Weird shape</dt>
  <dd>Pear</dd>
</dl>