&lt;!-- Checkboxes --&gt;

&lt;form&gt;

  &lt;label for=&quot;option-one&quot; class=&quot;label-inline&quot;&gt;
    &lt;input id=&quot;option-one&quot; type=&quot;checkbox&quot; value=&quot;&quot;&gt;
    This is a checkbox and its label.
  &lt;/label&gt;

&lt;/form&gt;