&lt;ul class=&quot;sg-icons&quot;&gt;

  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-iphone-0800 size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-iphone-0800&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e640&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-pound-circle size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-pound&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e63f&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-checkbox-tick size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-checkbox&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e639&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-phone-download size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-phone-download&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e63a&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-thumbs-up size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-thumbs&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e63b&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-ios size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-ios&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e63c&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-windows-8 size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-windows&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e635&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-kindle-fire size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-kindle&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e637&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-apple size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-apple&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e636&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-kindle size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-kindle&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e638&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-android size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-android&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e633&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-mifi size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-mifi&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e634&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-life-donut size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-life&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e630&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-google-plus size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-google-plus&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e62e&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-wifi size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-wifi&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e62f&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-iphone-headphone size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-iphone-headphone&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e62c&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-iphone-world size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-iphone-world&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e62d&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-search size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-search&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e005&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-info size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-info&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;69&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-cart size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-cart&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e002&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-basket size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-basket&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e028&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-printer size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-printer&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e611&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-menu size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-menu&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e631&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-insurance-undo size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-insurance-undo&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e61f&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-globe size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-globe&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e615&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-world size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-world&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e60c&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-checkmark size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-checkmark&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e003&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-tick size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-tick&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e0cc&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-checkmark-circle size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-checkmark&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e623&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-cross size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-cross&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e603&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-close size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-close&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;78&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-close-button size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-close&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e00f&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-plus size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-plus&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;2b&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-minus size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-minus&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;2d&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-asterisk size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-asterisk&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;2a&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-questionmark-circle size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-questionmark&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e00a&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-chat size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-chat&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e022&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-speechbubble size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-speechbubble&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e0cd&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-callout size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-callout&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e618&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-chevron-left size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-chevron-left&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;3c&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-chevron-right size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-chevron-right&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;3e&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-chevron-up size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-chevron-up&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e008&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-chevron-down size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-chevron-down&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e0cb&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-chevron-left-thin size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-chevron-left-thin&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e605&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-chevron-right-thin size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-chevron-right-thin&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e60e&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-chevron-up-thin size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-chevron-up-thin&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e604&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-chevron-down-thin size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-chevron-down-thin&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e606&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-triangle-left size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-triangle&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e00d&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-triangle-right size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-triangle&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e00e&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-triangle-up size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-triangle&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e00b&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-triangle-down size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-triangle&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;76&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-expand size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-expand&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e019&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-three-logo size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-three&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;33&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-threelogonotext size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-threelogonotext&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e622&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-clock size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-clock&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e01a&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-insurance-clock size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-insurance-clock&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e61e&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-speedo size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-speedo&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e607&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-gauge size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-gauge&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e619&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-marker-in size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-marker&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e01b&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-marker size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-marker&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e01c&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-bus size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-bus&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e01d&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-park size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-park&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e01e&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-rail size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-rail&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e01f&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-home size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-home&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e021&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-truck size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-truck&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e001&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-insurance-truck size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-insurance-truck&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e620&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-signalmast size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-signalmast&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e0a4&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-video size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-video&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e010&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-camera size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-camera&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e018&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-telly size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-telly&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e612&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-desktop-display size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-desktop&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e007&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-pc-phone size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-pc&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e61d&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-laptop-wifi size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-laptop&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e609&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-laptop-money size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-laptop&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e62a&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-laptop-calendar size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-laptop&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e628&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-sim size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-sim&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e026&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-phone size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-phone&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e020&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-tablet size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-tablet&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e025&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-iphone size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-iphone&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e029&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-iphone-plus size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-iphone&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e632&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-phone-feature size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-phone-feature&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e608&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-phone-feature-money size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-phone-feature-money&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e60f&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-phone-cracked size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-phone-cracked&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e017&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-phone-hotspot size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-phone-hotspot&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e617&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-phone-question size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-phone-question&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e016&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-phone-transfer size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-phone-transfer&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e011&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-phone-envelope size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-phone-envelope&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e015&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-phone-feature-calendar size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-phone-feature-calendar&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e61c&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-phone-feature-texts size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-phone-feature-texts&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e61a&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-iphone-calendar size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-iphone-calendar&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e627&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-money-calendar size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-money&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e61b&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-iphone-money size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-iphone&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e629&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-tablet-phone size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-tablet&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e624&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-accessories size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-accessories&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e601&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-insurance-one-call size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-insurance-one-call&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e621&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-money-plus size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-money&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e013&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-bill size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-bill&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e006&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-doc-tick size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-doc&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e625&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-envelope size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-envelope&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e62b&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-email-envelope size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-email&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e616&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-external-link size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-external&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e600&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-headphones size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-headphones&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e614&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-4g size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-4g&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e602&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-piggybank size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-piggybank&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e000&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-corner-bottom-left size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-corner-bottom-left&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;f000&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-pencil size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-pencil&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e60a&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-tools size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-tools&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e012&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-star size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-star&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e60b&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-people2 size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-people2&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e613&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-facebook size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-facebook&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e60d&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-twitter size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-twitter&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e610&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-lock-combination size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;

    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-lock&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e626&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-google size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-google&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e63d&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;span class=&quot;sg-icon&quot;&gt;
      &lt;span class=&quot;icon-contacts size0&quot;&gt;&lt;/span&gt;
    &lt;/span&gt;
 
    &lt;dl class=&quot;definition--split&quot;&gt;
      &lt;dt&gt;Class&lt;/dt&gt;
      &lt;dd&gt;.icon-contacts&lt;/dd&gt;

      &lt;dt&gt;Unicode&lt;/dt&gt;
      &lt;dd&gt;e63e&lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/li&gt;

&lt;/ul&gt;