<!-- Icon list -->
<ul class="list--icons">
  <li class="icon-pound-circle">A list item with an icon.</li>
  <li class="icon-checkbox-tick">A list item with an icon.</li>
  <li class="icon-phone-download">A list item with an icon with a long piece of text next to it so you can see how it wraps.</li>
  <li class="icon-apple">A list item with an icon.</li>
</ul>

<!-- Links list -->
<ul class="list--links">
  <li><a href="#" class="icon-chevron-right-thin">Apple</a></li>
  <li><a href="#" class="icon-chevron-right-thin">Banana</a></li>
  <li><a href="#" class="icon-chevron-right-thin">Orange</a></li>
  <li><a href="#" class="icon-chevron-right-thin">Pear</a></li>
</ul>
