&lt;!-- Icon list --&gt;
&lt;ul class=&quot;list--icons&quot;&gt;
  &lt;li class=&quot;icon-pound-circle&quot;&gt;A list item with an icon.&lt;/li&gt;
  &lt;li class=&quot;icon-checkbox-tick&quot;&gt;A list item with an icon.&lt;/li&gt;
  &lt;li class=&quot;icon-phone-download&quot;&gt;A list item with an icon with a long piece of text next to it so you can see how it wraps.&lt;/li&gt;
  &lt;li class=&quot;icon-apple&quot;&gt;A list item with an icon.&lt;/li&gt;
&lt;/ul&gt;

&lt;!-- Links list --&gt;
&lt;ul class=&quot;list--links&quot;&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;icon-chevron-right-thin&quot;&gt;Apple&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;icon-chevron-right-thin&quot;&gt;Banana&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;icon-chevron-right-thin&quot;&gt;Orange&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;icon-chevron-right-thin&quot;&gt;Pear&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
