&lt;div role=&quot;logo-rules&quot;&gt;


  &lt;div class=&quot;sg-logos&quot;&gt;

    &lt;figure&gt;
      &lt;img src=&quot;../../images/three-logo-url.svg&quot; data-fallback=&quot;../../images/three-logo-url.png&quot; alt=&quot;3&quot;&gt;
    &lt;/figure&gt;
    
    &lt;!--
    &lt;figure&gt;
      &lt;img src=&quot;../../images/three-logo.svg&quot; data-fallback=&quot;../../images/three-logo.png&quot; alt=&quot;3&quot;&gt;
    &lt;/figure&gt;
    --&gt;

    &lt;figure&gt;
      &lt;img src=&quot;../../images/three-logo-text.svg&quot; data-fallback=&quot;../../images/three-logo-text.png&quot; alt=&quot;Three&quot;&gt;
    &lt;/figure&gt;

  &lt;/div&gt;


&lt;/div&gt;

&lt;!--
&lt;span class=&quot;icon-three-logo u-text-size-000&quot;&gt;&lt;span class=&quot;visuallyhidden&quot;&gt;3&lt;/span&gt;&lt;/span&gt;

&lt;span class=&quot;icon-threelogonotext u-text-size-000&quot;&gt;&lt;span class=&quot;visuallyhidden&quot;&gt;3&lt;/span&gt;&lt;/span&gt;
--&gt;