&lt;p&gt;Primary font: &quot;HelveticaNeue&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/p&gt;
&lt;p class=&quot;u-text-size-2&quot;&gt;
ABCDEFGHIJKLMNOPQRSTUVWXYZ&lt;br&gt;
abcdefghijklmnopqrstuvwxyz&lt;br&gt;
1234567890!@&pound;$%^&amp;*()+=
&lt;/p&gt;


&lt;p&gt;&lt;strong&gt;Primary font bold: &quot;HelveticaNeue&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/strong&gt;&lt;/p&gt;
&lt;p class=&quot;u-text-size-2&quot;&gt;
&lt;strong&gt;
ABCDEFGHIJKLMNOPQRSTUVWXYZ&lt;br&gt;
abcdefghijklmnopqrstuvwxyz&lt;br&gt;
1234567890!@&pound;$%^&amp;*()+=
&lt;/strong&gt;
&lt;/p&gt;