<!-- Text inputs -->
<div role="form-rules">


<h3 class="u-text-size-5">Plain.</h3>
<form>
  <label for="text-input-one">What's your name?</label>
  <!-- Type can be text/email/url/password  -->
  <!-- email and url can have an optional pattern, e.g. pattern="[^ @]*@[^ @]*" -->
  <input type="text" placeholder="Jack? Kate? Hurley?" name="" id="text-input-one" tabindex="">
</form>

<h3 class="u-text-size-5">Read only.</h3>
<form>
  <label for="text-input-two">Your phone number.</label>
  <input type="text" placeholder="07970 123456" name="" id="text-input-two" readonly value="07970 123456">
</form>

<h3 class="u-text-size-5">With descriptor.</h3>
<form>
  <label for="text-input-three">Favourite colour.</label>
  <p class="input-description colour-clooney">We'll customise your dashboard for you with this colour.</p>
  <input type="text" placeholder="" name="" id="text-input-three">
</form>


</div>