<!-- Checkboxes -->
<div role="form-rules">


  <h3 class="u-text-size-5">Inline.</h3>
  <form>

    <fieldset>

      <label for="checkbox-option-one" class="label-inline">
        <input id="checkbox-option-one" type="checkbox" value="">
        Apple.
      </label>

      <label for="checkbox-option-two" class="label-inline">
        <input id="checkbox-option-two" type="checkbox" value="">
        Orange.
      </label>

      <label for="checkbox-option-three" class="label-inline">
        <input id="checkbox-option-three" type="checkbox" value="">
        Pear.
      </label>

    </fieldset>

  </form>


  <h3 class="u-text-size-5">Block list.</h3>
  <form>

    <fieldset class="fieldset-block">

      <label for="checkbox-option-four" class="label-inline">
        <input id="checkbox-option-four" type="checkbox" value="">
        Apple.
      </label>

      <label for="checkbox-option-five" class="label-inline">
        <input id="checkbox-option-five" type="checkbox" value="">
        Orange.
      </label>

      <label for="checkbox-option-six" class="label-inline">
        <input id="checkbox-option-six" type="checkbox" value="">
        Pear.
      </label>

    </fieldset>

  </form>

</div>