<!-- Validation errors -->
<div role="form-rules">


<h3 class="u-text-size-5">Errors overview.</h3>
<div class="validation-error-list">

  <h6>Whoops. Looks like there's a few problems:</h6>

  <ul>
    <li>Your telephone number can only contain numbers and spaces.</li>
    <li>Your password must be at least 7 characters long.</li>
  </ul>

</div>


<h3 class="u-text-size-5">Individual error.</h3>
<form>
  <label for="text-input-four">Your phone number.</label>
  <input type="text" placeholder="07970 123456" name="" class="has-error" id="text-input-four" value="+44 (0)7970 123456">
  
  <p class="validation-error">Your telephone number can only contain numbers and spaces.</p>
</form>


</div>