<!-- Helpers -->
<div role="form-rules">

<!--
  FIXME: The tooltip icon should toggle the tooltip, it should not be visible until toggeled on for the first time.
-->
<form>
  <label for="text-input-five">Your phone number. <a href="#" class="tooltip-icon"><span class="icon-info"></span></a></label>
  <input type="text" placeholder="07970 123456" name="" class="" id="text-input-five" value="07970 123456">
  
  <p class="tooltip">Your number is listed on any bills or letters from Three. It may also be in your device's settings.</p>
</form>


</div>