&lt;!-- Text inputs --&gt;
&lt;div role=&quot;form-rules&quot;&gt;


&lt;h3 class=&quot;u-text-size-5&quot;&gt;Plain.&lt;/h3&gt;
&lt;form&gt;
  &lt;label for=&quot;text-input-one&quot;&gt;What's your name?&lt;/label&gt;
  &lt;!-- Type can be text/email/url/password  --&gt;
  &lt;!-- email and url can have an optional pattern, e.g. pattern=&quot;[^ @]*@[^ @]*&quot; --&gt;
  &lt;input type=&quot;text&quot; placeholder=&quot;Jack? Kate? Hurley?&quot; name=&quot;&quot; id=&quot;text-input-one&quot; tabindex=&quot;&quot;&gt;
&lt;/form&gt;

&lt;h3 class=&quot;u-text-size-5&quot;&gt;Read only.&lt;/h3&gt;
&lt;form&gt;
  &lt;label for=&quot;text-input-two&quot;&gt;Your phone number.&lt;/label&gt;
  &lt;input type=&quot;text&quot; placeholder=&quot;07970 123456&quot; name=&quot;&quot; id=&quot;text-input-two&quot; readonly value=&quot;07970 123456&quot;&gt;
&lt;/form&gt;

&lt;h3 class=&quot;u-text-size-5&quot;&gt;With descriptor.&lt;/h3&gt;
&lt;form&gt;
  &lt;label for=&quot;text-input-three&quot;&gt;Favourite colour.&lt;/label&gt;
  &lt;p class=&quot;input-description colour-clooney&quot;&gt;We'll customise your dashboard for you with this colour.&lt;/p&gt;
  &lt;input type=&quot;text&quot; placeholder=&quot;&quot; name=&quot;&quot; id=&quot;text-input-three&quot;&gt;
&lt;/form&gt;


&lt;/div&gt;