// Colours.

$i: 1;

// Lists of colour names and codes for use in loops elsewhere. Stick to American spelling because CSS:
// Important: These 2 lists must have the same number of items.
$color-names:  ( barbie,    clooney,    hucknall,   hulk,      ken,        kermit,    maggie,    prince,    vader,   barry );
$color-values: ( #E90066, #767676, #DC350E,  #00864E, #EC0044, #00857B, #007BC3, #82368C, #000,  #fff  );
// Friendly colour values to make code more readable:
$barbie   : nth( $color-values, 1 );
$clooney  : nth( $color-values, 2 );
$hucknall : nth( $color-values, 3 );
$hulk     : nth( $color-values, 4 );
$ken      : nth( $color-values, 5 );
$kermit   : nth( $color-values, 6 );
$maggie   : nth( $color-values, 7 );
$prince   : nth( $color-values, 8 );
$vader    : nth( $color-values, 9 );
$barry    : nth( $color-values, 10);

$clooney20 : mix($clooney,#fff,20%);
$ken20 : mix($ken,#fff,20%);

// Silent classes for each named colour:
// Eg: %ken, %ken-bg, %ken-border and %ken-button.
@each $name in $color-names {
  
  $color: nth( $color-values, $i );
  $i: $i + 1;
  
  %#{ $name }           { color:            $color; } // Coloured text only.     Usage: @extend %ken;
  %#{ $name }-bg        { background-color: $color; } // Coloured background.    Usage: @extend %ken-bg;
  %#{ $name }-border    { border-color:     $color; } // Coloured border.        Usage: @extend %ken-border;
  %#{ $name }-20 { color: mix($color,#fff,20%); }
  %#{ $name }-60 { color: mix($color,#fff,60%); }
  %#{ $name }-bg20 { background-color: mix($color,#fff,20%); }
  %#{ $name }-bg60 { background-color: mix($color,#fff,60%); }
  %#{ $name }-border20 { border-color: mix($color,#fff,20%); }
  %#{ $name }-border60 { border-color: mix($color,#fff,60%); }

  // Expose as CSS classes.

  .#{ $name } { @extend %#{ $name }; }
  .#{ $name }-bg { @extend %#{ $name }-bg; }
  .#{ $name }-border  { @extend %#{ $name }-border; }
  .#{ $name }-20 { @extend %#{ $name }-20; }
  .#{ $name }-60 { @extend %#{ $name }-60; }
  .#{ $name }-bg20 { @extend %#{ $name }-bg20; }
  .#{ $name }-bg60 { @extend %#{ $name }-bg60; }
}