// Headings.

h1,
h2,
h3,
h4,
h5,
h6 {
  // Remove the default margins.
  margin: 0 0 0.4em 0;
  // Add in the negative letter spacing, just for headings.
  letter-spacing: -0.025em;
}

// Meek text class, should only used in headings, might be useful as an override somewhere.
.u-text-meek,
%u-text-meek {
  font-weight: normal;
}

// Matrix of elements/classes/sizes for headings and modifiers, across the 3 breakpoints.
// FIXME? The top 2 oversized classes prevent a neater array and h1-6 loop. I think.
$text-sizes:
  ".u-text-size-000, %u-text-size-000" 64 96 112,
  ".u-text-size-0, %u-text-size-0"     44 64 72,
  "h1, .u-text-size-1, %u-text-size-1" 38 52 60,
  "h2, .u-text-size-2, %u-text-size-2" 30 42 46,
  "h3, .u-text-size-3, %u-text-size-3" 26 34 36,
  "h4, .u-text-size-4, %u-text-size-4" 22 26 28,
  "h5, .u-text-size-5, %u-text-size-5" 18 20 22,
  "h6, .u-text-size-6, %u-text-size-6" 16 16 16
;


// Classes output
@each $value in $text-sizes {

  #{nth($value, 1)} {

    // font-size mixin takes 2 variables, size and line-height (as a value in the same scale as the size).
    // default font-size as in the matrix above, plus line height at +20%
    @include font-size( nth($value, 2), ( nth($value, 2) * 1.2 ) );

    @media all and (min-width: $bp-med) {
       @include font-size( nth($value, 3), ( nth($value, 3) * 1.2 ) );
    }
    @media all and (min-width: $bp-large) {
      @include font-size( nth($value, 4), ( nth($value, 4) * 1.2 ) );
    }

  }

}

