// Lists.

ol, ul {
  margin:0 0 1em 0;
  padding-left:1.75em;

  ol, ul {
    margin-bottom:0;
  }

}

.list--plain {
  list-style-type: none;
  padding-left: 0;
}

.list--links {
  @extend .list--plain;

  border-top: 1px solid $clooney_tint_20pc;

  li {
    border-bottom: 1px solid $clooney_tint_20pc;
    position: relative;
    padding: 0 2em 0 1em;
  }

  a {
    display: block;
    padding: 0.8em 0 0.75em 0; // Less bottom padding so baseline sits in the middle better.

    &:before {
      position: absolute;
      right: 1em;
      top: 50%;
      margin-top: -0.5em;
    }
  }

}

.list--icons {
  list-style-type: none;

  li {
    text-indent: -1.75em;
  }

  li:before {
    float: left;
    width: 1.75em;
  }  

}


dl {

  dt {
    font-weight: bold;
  }

  dd {

  }

}

dl.definition--split {
  @include group();

  dt {
    @extend dt;
    margin: 0;
    text-align: left;
    width: 50%;
  }

  dd {
    border-bottom: 1px solid $clooney_tint_20pc;
    margin-left: -50%;
    padding-left: 50%;
    text-align: right;
    width: 100%;
  }

  dt, dd {
    float: left;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

}