// Links.

a { 
  text-decoration : underline;
  color : $vader;
  background-color: transparent;
  font-weight: bold;

  &:visited { 
    color : $clooney; 
  }

  &:hover, 
  &:focus,
  &:visited:hover { 
    color : $vader; 
  }

  &:hover, 
  &:active { 
    outline : 0; 
  }

  transition: all 0.35s ease-in-out;
}


// Colour variants.

// is this something we actually want?

// $colours map is defined in _01-colours.scss
@each $name in $color-names {

  a.#{nth($name, 1)} {

    @extend %#{nth($name, 1)};

  }

}
