// Links.

a { 
  text-decoration : underline;
  color : $vader;
  font-weight: bold;

  &:visited { 
    color : $clooney; 
  }

  &:hover, 
  &:visited:hover { 
    color : $vader; 
  }

  &:focus { 
    outline : thin dotted; 
    color : $vader; 
  }

  &:hover, 
  &:active { 
    outline : 0;
  }

  @include transition(all 0.35s ease 0s)
}


// Colour variants.

// Function outputs something like this, with actual values rather than $variables, 
// as SASS <3.3 doesn't support them, and maybe never will;
//
// a.ken {
//   color: $ken;
// 
//   &:hover,
//   &:visited:hover {
//     color: $ken;
//   }
// }

// $colours map is defined in _01-colours.scss
@each $name in $colours {

  a.#{nth($name, 1)} {

    @extend %#{nth($name, 1)};

  }

}
