// Body copy.
// Default is 1.6em / 16px, with a line-height of 1.5

.u-text-size-small, 
%u-text-size-small {
  @include font-size(12);
}
// <small>, FYI, doesn't inherit line-height properly, unless you make it inline-block, which screws with much more, most of the time.

p {
  margin: 0 0 1em 0;
}

hr {
  margin: 1.5em 0;
  height: 1px;
  border: none;
  border-top: 1px solid $clooney_tint_60pc;
  background: none;
}