// Body copy.
// Default is 1.6em / 16px, with a line-height of 1.5

.small {
  @include font-size(13);
}

// <small>, FYI, doesn't inherit line-height properly, unless you make it inline-block, which screws with much more, most of the time.

p {
  margin: 0 0 1em 0;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 65%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}