// Icon buttons

.button {
  // Icons within a button. Icons *always* sit on the left of the text.
  i {
    padding: 0 0.25em 0 0;
  }
}

.button--block-icon {
  i {
    padding: 0;
    display: block;
    font-size: 5rem;
    margin-bottom: 10px;
  }
}