// Buttons.
.button {
  display: block;
  width: 100%;  // Buttons are always full width at the lowest breakpoint.
  padding: 0.8em 1.5em 0.7em 1.5em;
  border: 0;
  font-weight: bold;
  transition: all 0.3s ease 0s;
  line-height: inherit; // Fixes and override in normalise.scss for FF4 issues.

    &:hover, &:focus {
      background: $black;
      color: $white;
    }

    @media only screen and (min-width: $bp-med) {
      display: inline-block;
      width: auto;
    }

  }


  .button--full {
    width: 100%;
  }


  // Standard coloured buttons just taken on the .button properties
  // but change the background from the colour classes set in _01-colours.scss
  // Outputs something like this;
  // .button--ken {
  //   @extend .button;
  //   @extend .background-ken;
  // }
  // $colours map is defined in _01-colours.scss
  @each $name in $colours {

    .button--#{nth($name, 1)} {
      @extend .button;
      @extend .background-#{nth($name, 1)};

    }

  }



  // 'Ghost buttons' need a few more things resetting by default, 
  // and per colour type, as color:; on a 'normal' button is mostly always white.
  .button--ghost {
    @extend .button;

    background: transparent;
    color: $white;
    box-shadow: inset 0 0 0 2px currentColor;

    &:hover, &:focus {
      background: $white;
      box-shadow: none;
      color: $black;
    }
  }


  // Outputs something like this;
  //
  //  .button--ken--ghost {
  //    @extend .button--ghost;
  //
  //    color: $ken;
  //
  //    &:hover, &:focus {
  //      background: $ken;
  //      color: $white;
  //    }
  //  }  

  @each $name in $colours {

    .button--#{nth($name, 1)}--ghost {
      @extend .button--ghost;
      color: #{nth($name, 2)};
      &:hover, &:focus {
        background: #{nth($name, 2)};
        color: $white;
      }
    }

  }
