// Buttons.
button, 
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  display: block;
  width: 100%;  // Buttons are always full width at the lowest breakpoint.
  padding: 0.8em 1.5em 0.7em 1.5em;
  border-width: 0;
  font:inherit;
  font-weight: bold;
  transition: all 0.3s ease 0s;
  line-height: inherit; // Fixes and override in normalise.scss for FF4 issues.
  cursor:pointer;
  text-transform: none;
  
  overflow: visible;
  background-color: $clooney;
  color: #FFF;
  white-space: nowrap;
  
  margin: 0 0 0.2em 0;
  
  text-align: center;
  box-shadow: none;

  border-radius: 0;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

 
  &:hover, &:focus {
    background-color: $vader;
    color: $barry;
  }
  
  &.full {
      display:block;
      width:100%;
  }

  @media only screen and (min-width: $bp-med) {
    display: inline-block;
    width: auto;
  }
   
  // 'Ghost buttons' need a few more things resetting by default, 
  // and per colour type, as color:; on a 'normal' button is mostly always white.
  &.ghost {
    background: transparent;
    box-shadow: inset 0 0 0 2px currentColor;

    &:hover, 
    &:focus {
      background: $barry;
      box-shadow: none;
      color: $vader;
    }
  }
  
  &.disabled,
  &[disabled] {
    outline: 1px dashed $clooney !important;
    background-color: white !important;
    color: $clooney !important;
    pointer-events: none;
    cursor: default !important;
  } 
    

}

  // Standard coloured buttons just taken on the .button properties
  // but change the background from the colour classes set in _01-colours.scss

  // $colours map is defined in _01-colours.scss
 // @each $name in $color-names {

  //  .button.#{nth($name, 1)} {
  //    @extend .button;
  //    @extend .#{nth($name, 1)}-bg;

  //  }

  //  .button.ghost.#{nth($name, 1)} {
  //    @extend .button.ghost;
  //    color: #{nth($name, 1)};
  //    &:hover, &:focus {
  //      background-color: #{nth($name, 1)};
  //      color: $barry;
  //    }
  //  }

//  }
