// Validation errors.

.validation-error-list {

  border: 2px solid $ken;
  background: $ken_tint_20pc;
  padding: 1em;
  margin-bottom: 1em;

  h6 {
    color: $ken;
  }

  ul {
    margin: 0; // removes the default bottom margin, so padding isn't weird at the bottom.
  }

}


// FIXME? Inputs are styled using [type=], which overwrites this. Seems silly to duplicate that list of input types.
.has-error {
  border-color: $ken !important; 

  &:active,
  &:focus {
    box-shadow: inset 0px 0px 0px 1px $ken !important;
  }  
}


.validation-error {
  position: relative;
  background: $ken_tint_20pc;
  border: 2px solid $ken;
  padding: 0.5em;
  margin: 13px 0 0 0;
}
.validation-error:after, 
.validation-error:before {
  bottom: 100%;
  left: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.validation-error:after {
  border-color: rgba(251, 204, 217, 0);
  border-bottom-color: $ken_tint_20pc;
  border-width: 10px;
  margin-left: -10px;
}
.validation-error:before {
  border-color: rgba(266, 0, 68, 0);
  border-bottom-color: $ken;
  border-width: 13px;
  margin-left: -13px;
}