// Tooltips

.tooltip-icon {
  text-decoration: none;
  color: $clooney;
}

.tooltip {
  @extend .validation-error;

  background: $clooney_tint_20pc;
  border: 2px solid $clooney; 
}

.tooltip:after {
  border-color: rgba(227, 227, 227, 0);
  border-bottom-color: $clooney_tint_20pc;
  border-width: 10px;
  margin-left: -10px;
}
.tooltip:before {
  border-color: rgba(118, 118, 118, 0);
  border-bottom-color: $clooney;
  border-width: 13px;
  margin-left: -13px;
}