// Text inputs.

// Inputs without a type are assumed to be treated like text.
// tyoo strong? just style input and override for radios and checkboxes. Avoid using input[type="button"]s
input:not([type]), 
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
select {
  width: 100%;
  padding: 0.85em 0.75em 0.65em 0.75em; // top/bottom are different to center text better.
  border: 1px solid $vader;

  &:active,
  &:focus {
    border: 1px solid $maggie;
    box-shadow: inset 0px 0px 0px 1px $maggie;
  }
}

// Read only input fields
input[readonly], input[readonly="readonly"] {
  background: $clooney20;
  cursor: no-drop;

  &:active,
  &:focus {
    border: 1px solid $vader;
    box-shadow: inset 0px 0px 0px 0px $vader;
  } 
}

// Placeholder style
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {  
   color: $clooney20;
}