&lt;!-- Validation errors --&gt;
&lt;div role=&quot;form-rules&quot;&gt;


&lt;h3 class=&quot;u-text-size-5&quot;&gt;Errors overview.&lt;/h3&gt;
&lt;div class=&quot;validation-error-list&quot;&gt;

  &lt;h6&gt;Whoops. Looks like there's a few problems:&lt;/h6&gt;

  &lt;ul&gt;
    &lt;li&gt;Your telephone number can only contain numbers and spaces.&lt;/li&gt;
    &lt;li&gt;Your password must be at least 7 characters long.&lt;/li&gt;
  &lt;/ul&gt;

&lt;/div&gt;


&lt;h3 class=&quot;u-text-size-5&quot;&gt;Individual error.&lt;/h3&gt;
&lt;form&gt;
  &lt;label for=&quot;text-input-four&quot;&gt;Your phone number.&lt;/label&gt;
  &lt;input type=&quot;text&quot; placeholder=&quot;07970 123456&quot; name=&quot;&quot; class=&quot;has-error&quot; id=&quot;text-input-four&quot; value=&quot;+44 (0)7970 123456&quot;&gt;
  
  &lt;p class=&quot;validation-error&quot;&gt;Your telephone number can only contain numbers and spaces.&lt;/p&gt;
&lt;/form&gt;


&lt;/div&gt;