/*------------------------------------*\
    $PATTERN LAB-SPECIFIC STYLES
\*------------------------------------*/
/**
 * This stylesheet is for styles you want to include only when the interface is being viewed within Pattern Lab.
 * This is helpful for displaying demo styles for grids, animations, color swatches, etc
 * It's also helpful for overriding context-specific styles like fixed or absolutely positioned elements
 * These styles will not be your production CSS.
 */
 

/* Style Guide Interface Colors */ 
$sg-primary : #222;
$sg-secondary : #808080;
$sg-tertiary : #ddd;
$sg-quaternary : #fff;
$sg-quinary : #999;
$sg-tint : rgba(255,255,255,0.05);
$sg-tint-2 : rgba(255,255,255,0.25);
$sg-tone : rgba(0,0,0,0.1);
$sg-tone-2 : rgba(0,0,0,0.3);

/* Typography */
$sg-font-size-norm : 100%;
$sg-font-size-sm : 70%;
$sg-font-size-large : 120%;

/* Defaults */
$sg-space : 1em;
$sg-doublespace : $sg-space*2;
$sg-pad : 1em;
$sg-pad-half : $sg-pad/2;

/* Dimensions */
$offset-top: 2em;

/* Breakpoints */
$sg-bp-small : 24em;
$sg-bp-small-2 : 30em;
$sg-bp-med : 48em;
$sg-bp-large : 72em;
$sg-bp-xl : 80em;

$animate-quick: 0.2s;


// MIXINS
// Because I can't figure out how to use Compass + PrePros on a Mac, yet.
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


// Style Guide color swatches
.sg-colors, .sg-icons {
	overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;

	li {
		overflow: hidden;
    margin: 0 1% 20px 1%;

    @media all and (min-width: $sg-bp-small-2) {
      float: left;
      width: 48%;
    }
    @media all and (min-width: $sg-bp-med) {
      width: 31%;
       margin: 0 1% 30px 1%;
    }
    @media all and (min-width: $sg-bp-large) {
      width: 23%;
       margin: 0 1% 40px 1%;
    }
		@media all and (min-width: $sg-bp-xl) {
			width: 18%;
		}
	}


  dl {
    text-transform: uppercase;

    // Force the data not to wrap, and give it more space, 
    // so everything stays the same hight, in this instance.
    dd {
      white-space: nowrap;
      padding-left: 33%;
    }
  }

}

.sg-icons {
  dl {
    text-transform: none;
  }
}

.sg-swatch {
	display: block;
	height: 8em;
	width: 8em;
	margin:0 auto;
	color: #fff; 
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	@include border-radius(250px);
	
	span {
		display: block;
		@include vertical-align;
	}
	
}

  .sg-swatch--minor {
    height: 1.6em; // Same as the base line-height for the size, otherwise it doesn't clear.
    width: 100%;
    margin: 0;
    @include border-radius(0);
  }

.sg-icon {
  display: block;

  span {
    display: block;
    text-align: center;
    margin: 20px 0;
  }
}

.sg-logos {

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  figure{
    width:50%;
    margin:0 auto $sg-doublespace auto;

    @media all and (min-width: $sg-bp-med) {
      width:23%;
      margin:0 5%;
      display: block;
      float: left;
    }

    @media all and (min-width: $sg-bp-large) {

    }

  }
}


.sg-label {
	line-height: 1;
}

.sg-main {
  padding: 20px;

  @media all and (min-width: $sg-bp-med) {
  }

  @media all and (min-width: $sg-bp-large) {
  }

}
