&lt;ul class=&quot;sg-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch background-ken&quot;&gt;&lt;span&gt;Ken.&lt;/span&gt;&lt;/span&gt;
		
		&lt;dl class=&quot;definition--split&quot;&gt;
			&lt;dt&gt;Hex&lt;/dt&gt;
			&lt;dd&gt;#ec0044&lt;/dd&gt;

			&lt;dt&gt;RGB&lt;/dt&gt;
			&lt;dd&gt;R236 G0 B68&lt;/dd&gt;
			
			&lt;dt&gt;CMYK&lt;/dt&gt;
			&lt;dd&gt;C1 M100 Y7 K0&lt;/dd&gt;
			
			&lt;dt&gt;PMS&lt;/dt&gt;
			&lt;dd&gt;Red 032&lt;/dd&gt;
		&lt;/dl&gt;

	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch background-hucknall&quot;&gt;&lt;span&gt;Hucknall.&lt;/span&gt;&lt;/span&gt;
				
		&lt;dl class=&quot;definition--split&quot;&gt;
			&lt;dt&gt;Hex&lt;/dt&gt;
			&lt;dd&gt;#dc350e&lt;/dd&gt;

			&lt;dt&gt;RGB&lt;/dt&gt;
			&lt;dd&gt;R220 G53 B14&lt;/dd&gt;
			
			&lt;dt&gt;CMYK&lt;/dt&gt;
			&lt;dd&gt;C8 M93 Y100 K1&lt;/dd&gt;
			
			&lt;dt&gt;PMS&lt;/dt&gt;
			&lt;dd&gt;1665C&lt;/dd&gt;
		&lt;/dl&gt;

	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch background-barbie&quot;&gt;&lt;span&gt;Barbie.&lt;/span&gt;&lt;/span&gt;
				
		&lt;dl class=&quot;definition--split&quot;&gt;
			&lt;dt&gt;Hex&lt;/dt&gt;
			&lt;dd&gt;#e90066&lt;/dd&gt;

			&lt;dt&gt;RGB&lt;/dt&gt;
			&lt;dd&gt;R233 G0 B102&lt;/dd&gt;
			
			&lt;dt&gt;CMYK&lt;/dt&gt;
			&lt;dd&gt;C2 M100 Y37 K0&lt;/dd&gt;
			
			&lt;dt&gt;PMS&lt;/dt&gt;
			&lt;dd&gt;812C&lt;/dd&gt;
		&lt;/dl&gt;

	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch background-prince&quot;&gt;&lt;span&gt;Prince.&lt;/span&gt;&lt;/span&gt;
				
		&lt;dl class=&quot;definition--split&quot;&gt;
			&lt;dt&gt;Hex&lt;/dt&gt;
			&lt;dd&gt;#82368c&lt;/dd&gt;

			&lt;dt&gt;RGB&lt;/dt&gt;
			&lt;dd&gt;R130 G54 B140&lt;/dd&gt;
			
			&lt;dt&gt;CMYK&lt;/dt&gt;
			&lt;dd&gt;C58 M94 Y6 K1&lt;/dd&gt;
			
			&lt;dt&gt;PMS&lt;/dt&gt;
			&lt;dd&gt;254C&lt;/dd&gt;
		&lt;/dl&gt;

	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch background-maggie&quot;&gt;&lt;span&gt;Maggie.&lt;/span&gt;&lt;/span&gt;
				
		&lt;dl class=&quot;definition--split&quot;&gt;
			&lt;dt&gt;Hex&lt;/dt&gt;
			&lt;dd&gt;#007bc3&lt;/dd&gt;

			&lt;dt&gt;RGB&lt;/dt&gt;
			&lt;dd&gt;R0 G123 B195&lt;/dd&gt;
			
			&lt;dt&gt;CMYK&lt;/dt&gt;
			&lt;dd&gt;C85 M45 Y0 K0&lt;/dd&gt;
			
			&lt;dt&gt;PMS&lt;/dt&gt;
			&lt;dd&gt;2727C&lt;/dd&gt;
		&lt;/dl&gt;

	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch background-kermit&quot;&gt;&lt;span&gt;Kermit.&lt;/span&gt;&lt;/span&gt;
				
		&lt;dl class=&quot;definition--split&quot;&gt;
			&lt;dt&gt;Hex&lt;/dt&gt;
			&lt;dd&gt;#00857b&lt;/dd&gt;

			&lt;dt&gt;RGB&lt;/dt&gt;
			&lt;dd&gt;R0 G133 B123&lt;/dd&gt;
			
			&lt;dt&gt;CMYK&lt;/dt&gt;
			&lt;dd&gt;C86 M28 Y56 K7&lt;/dd&gt;
			
			&lt;dt&gt;PMS&lt;/dt&gt;
			&lt;dd&gt;314C&lt;/dd&gt;
		&lt;/dl&gt;

	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch background-hulk&quot;&gt;&lt;span&gt;Hulk.&lt;/span&gt;&lt;/span&gt;
				
		&lt;dl class=&quot;definition--split&quot;&gt;
			&lt;dt&gt;Hex&lt;/dt&gt;
			&lt;dd&gt;#00864e&lt;/dd&gt;

			&lt;dt&gt;RGB&lt;/dt&gt;
			&lt;dd&gt;R0 G134 B78&lt;/dd&gt;
			
			&lt;dt&gt;CMYK&lt;/dt&gt;
			&lt;dd&gt;C88 M23 Y89 K9&lt;/dd&gt;
			
			&lt;dt&gt;PMS&lt;/dt&gt;
			&lt;dd&gt;362C&lt;/dd&gt;
		&lt;/dl&gt;

	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch background-clooney&quot;&gt;&lt;span&gt;Clooney.&lt;/span&gt;&lt;/span&gt;
				
		&lt;dl class=&quot;definition--split&quot;&gt;
			&lt;dt&gt;Hex&lt;/dt&gt;
			&lt;dd&gt;#767676&lt;/dd&gt;

			&lt;dt&gt;RGB&lt;/dt&gt;
			&lt;dd&gt;R118 G118 B118&lt;/dd&gt;
			
			&lt;dt&gt;CMYK&lt;/dt&gt;
			&lt;dd&gt;C55 M47 Y46 K12&lt;/dd&gt;
			
			&lt;dt&gt;PMS&lt;/dt&gt;
			&lt;dd&gt;Cool Gray 10C&lt;/dd&gt;
		&lt;/dl&gt;

	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch background-vader&quot;&gt;&lt;span&gt;Vader.&lt;/span&gt;&lt;/span&gt;
				
		&lt;dl class=&quot;definition--split&quot;&gt;
			&lt;dt&gt;Hex&lt;/dt&gt;
			&lt;dd&gt;#000000&lt;/dd&gt;

			&lt;dt&gt;RGB&lt;/dt&gt;
			&lt;dd&gt;R0 G0 B0&lt;/dd&gt;
			
			&lt;dt&gt;CMYK&lt;/dt&gt;
			&lt;dd&gt;C0 M0 Y0 K0&lt;/dd&gt;
			
			&lt;dt&gt;PMS&lt;/dt&gt;
			&lt;dd&gt;Process Black C&lt;/dd&gt;
		&lt;/dl&gt;

	&lt;/li&gt;
&lt;/ul&gt;