// @mixin font-size($font-size: 16){
// font-size : #{$font-size}px;
// font-size : #{$font-size / 10}rem; 
// }
// Better font-size mixin from https://coderwall.com/p/ml9zxg/sass-mixin-for-rem-font-sizing-line-height-with-px-fallback
@mixin font-size($fontsize: 16, $lineheight: $fontsize * 1.5) {
  font-size: ($fontsize) + px;
  line-height: ($lineheight) + px;
  font-size: ($fontsize / 10) + rem;
  line-height: ($lineheight / 10) + rem; 
}

@mixin text-overflow() {
overflow : hidden;
text-overflow : ellipsis;
white-space : nowrap; }

// gradients
@mixin horizontal($startColor : $white, $endColor : $lightergrey) {
background-color: $endColor;
@include background-image(linear-gradient(left, $startColor, $endColor));
background-repeat : repeat-x; }

@mixin vertical($startColor : $white, $endColor:  $lightergrey) {
background-color  : $endColor;
@include background-image(linear-gradient($startColor, $endColor));
background-repeat : repeat-x; }

@mixin directional($startColor : $white, $endColor : $lightergrey, $deg : 45deg) {
background-color  : $endColor;
@include background-image(linear-gradient($deg, $startColor, $endColor));
background-repeat : repeat-x; }

// @include bordered(COLOR, COLOR, COLOR, COLOR);
@mixin bordered($top-color: #eee, $right-color: #eee, $bottom-color: #eee, $left-color: #eee) {
border-top : solid 1px $top-color;
border-left : solid 1px $left-color;
border-right : solid 1px $right-color;
border-bottom : solid 1px $bottom-color; }

// @include drop-shadow(HORIZONTAL, VERTICAL, BLUR, ALPHA);
@mixin drop-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $alpha: 0.1) {
@include box-shadow($x-axis $y-axis $blur rgba(0, 0, 0, $alpha)); }

// @include background-alpha(VALUE VALUE);
@mixin background-alpha($color: $white, $alpha: 1) {
background-color : hsla(hue($color), saturation($color), lightness($color), $alpha); }

// Chrome Frame
@mixin chromeframe() {
margin : .2em 0;
background : $lightgrey;
color : $black;
padding : .2em 0; }

// Contain floats
@mixin group {
*zoom : 1;
&:before,
&:after {
display: table;
content : ""; }
&:after {
clear : both; } }

.group {
@include group; }
 
// For image replacement
@mixin hide-text() {
text-indent : 100%;
white-space : nowrap;
overflow : hidden; }

// Hide from visual and speaking browsers
@mixin hidden() {
display : none !important;
visibility : hidden; }

// Hide but maintain layout
@mixin invisible() {
visibility : hidden; }

// @include resize(VALUE) (none, both, horizontal, vertical, inherit)
@mixin resize($direction: both) {
resize : $direction;
overflow : auto; }

// @include userselect(VALUE) (all, element, none, text)
@mixin user-select($select) {
-webkit-user-select : $select;
-moz-user-select : $select;
-o-user-select : $select;
user-select : $select; }

// Animation presets
@mixin animation-presets($duration: 3s, $delay: 2s, $iteration: infinite ){
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -o-animation-duration: $duration;
  animation-duration: $duration;

  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -o-animation-delay: $delay;
  animation-delay: $delay;

  -webkit-animation-iteration-count: $iteration;
  -moz-animation-iteration-count: $iteration;
  -o-animation-iteration-count: $iteration;
  animation-iteration-count: $iteration;
}

// Hidden but available to speaking browsers
.visuallyhidden {
overflow : hidden;
position : absolute;
clip : rect(0 0 0 0);
height : 1px;
width : 1px;
margin : -1px;
padding : 0;
border : 0;

// Make visuallyhidden focusable with a keyboard
&.focusable {
&:active,
&:focus {
position : static;
clip : auto;
height : auto;
width : auto;
margin : 0;
overflow: visible; } } }


// http://www.sumnoise.com/2014/03/30/underlining-links/
@mixin underline($colour:$textcolor, $line-offset:1, $line-size:0.1) {
  background-repeat: repeat-x;
  background-size: #{$line-size}em #{$line-size}em;
  background-position: 0 #{$line-offset}em;
  text-decoration: none;
  @include background-image(linear-gradient(top, transparent 50%, $colour 50%));

  .lt-ie10 & { // because old IE can't handle it
    background: none;
    text-decoration: underline;
  }
}