@-webkit-viewport { 
width : device-width; }

@-moz-viewport { 
width : device-width; }

@-ms-viewport { 
width : device-width; }

@-o-viewport { 
width : device-width; }

@viewport { 
width : device-width; }

html {
background : $bodycolor; 
font-size : 62.5%;
-webkit-overflow-scrolling : touch; 
-webkit-tap-highlight-color : $grey; 
-webkit-text-size-adjust : 100%; 
-ms-text-size-adjust : 100%;
box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body { 
margin : 0;
padding : 0;
width : 100%;
background-color : transparent;
font-family : $basefont;
@include font-size($basefontsize);
line-height : $baselineheight;
color : $textcolor; }

img { display:block; margin:0; padding:0; }

*::-moz-selection {
  background: $darkgrey; /* Firefox */
  color: $white;
  text-shadow:none;
}
*::selection {
  background: $darkgrey; /* Safari */
  color: $white;
  text-shadow:none;
}

canvas {
    -ms-touch-action: double-tap-zoom;
}
