// Typography defaults
$black        : rgb(0,0,0);
$darkgrey     : lighten($black, 25%);
$grey         : lighten($black, 50%);
$white        : rgb(255,255,255);

$twitter  : #55acee;
$facebook : #3b5998;

$bodycolor      : $white;
$textcolor      : #111;

$basefont               : 'Helvetica', 'Arial', sans-serif;
$basefontsize           : 16;
$baselineheight         : 1.6em;
$baseheadingfont        : 'Helvetica', 'Arial', sans-serif;
$baseheadingfontweight  : 400;
$baseheadingfontcolor   : inherit;


// Breakpoints
// Assuming a 16px base, these are 320 / 384 / 768 / 960 / 1280px
$bp-xsmall : 20em;
$bp-small : 24em;
$bp-med : 48em;
$bp-large : 60em;
$bp-xlarge : 80em;