<table class="table--responsive table--striped">

  <thead>
    <tr>
      <th>Data.</th>
      <th>Minutes.</th>
      <th>Per month.</th>
      <th>Contract length.</th>
      <th>Upfront cost.</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="cell--numeric" data-title="Data.">2GB</td>
      <td class="cell--numeric" data-title="Minutes.">All-you-can-eat</td>
      <td class="cell--numeric" data-title="Per month.">£44</td>
      <td class="cell--numeric" data-title="Contract length.">24 months</td>
      <td class="cell--numeric" data-title="Upfront cost.">£49</td>
      <td class="cell--numeric">
        <button class="button--hulk button--full">Add to basket</button>
      </td>
    </tr>
    <tr>
      <td class="cell--numeric" data-title="Data.">4GB</td>
      <td class="cell--numeric" data-title="Minutes.">600</td>
      <td class="cell--numeric" data-title="Per month.">£44</td>
      <td class="cell--numeric" data-title="Contract length.">24 months</td>
      <td class="cell--numeric" data-title="Upfront cost.">£49</td>
      <td class="cell--numeric">
        <button class="button--hulk button--full">Add to basket</button>
      </td>
    </tr>
    <tr>
      <td class="cell--numeric" data-title="Data.">2GB</td>
      <td class="cell--numeric" data-title="Minutes.">All-you-can-eat</td>
      <td class="cell--numeric" data-title="Per month.">£44</td>
      <td class="cell--numeric" data-title="Contract length.">24 months</td>
      <td class="cell--numeric" data-title="Upfront cost.">£49</td>
      <td class="cell--numeric">
        <button class="button--hulk button--full">Add to basket</button>
      </td>
    </tr>
    <tr>
      <td class="cell--numeric" data-title="Data.">4GB</td>
      <td class="cell--numeric" data-title="Minutes.">600</td>
      <td class="cell--numeric" data-title="Per month.">£44</td>
      <td class="cell--numeric" data-title="Contract length.">24 months</td>
      <td class="cell--numeric" data-title="Upfront cost.">£49</td>
      <td class="cell--numeric">
        <button class="button--hulk button--full">Add to basket</button>
      </td>
    </tr>
    <tr>
      <td class="cell--numeric" data-title="Data.">All-you-can-eat</td>
      <td class="cell--numeric" data-title="Minutes.">All-you-can-eat</td>
      <td class="cell--numeric" data-title="Per month.">£44</td>
      <td class="cell--numeric" data-title="Contract length.">24 months</td>
      <td class="cell--numeric" data-title="Upfront cost.">£49</td>
      <td class="cell--numeric">
        <button class="button--hulk button--full">Add to basket</button>
      </td>
    </tr>
  </tbody>

</table>