<p>
<input type="submit" value="Submit." class="button">
</p>

<p>
<button class="button">Button.</button>
<button class="button background-ken">Coloured button.</button>
<button class="button background-maggie">Another coloured button.</button>
</p>