<div role="button-rules">


<p>
<button type="submit">Submit</button>
</p>

<p>
<button type="button">Button.</button>
<button type="button" class="ken-bg">Coloured button.</button>
<button type="button" class="maggie-bg">Another coloured button.</button>
</p>

<p>
  
<span style="display:inline-block; padding:1em; background-image:url('http://placekitten.com/g/300/200'); background-size:cover; -webkit-box-shadow: inset 0 0 100px #000000; -moz-box-shadow: inset 0 0 100px #000000; box-shadow: inset 0 0 100px #000000;">
<button class="ghost">A coloured 'ghost' button.</button>
</span>

<span style="display:inline-block; padding:1em; background-image:url('http://placekitten.com/g/300/200'); background-size:cover; -webkit-box-shadow: inset 0 0 100px #000000; -moz-box-shadow: inset 0 0 100px #000000; box-shadow: inset 0 0 100px #000000;">
<button class="ghost barbie">A coloured 'ghost' button.</button>
</span>

</p>

<p>
<button class="hulk-bg full">Full width, coloured button.</button>
</p>


</div>