<p>
<input type="submit" value="Submit." class="button">
</p>

<p>
<button class="button">Button.</button>
<button class="button--ken">Coloured button.</button>
<button class="button--maggie">Another coloured button.</button>
</p>

<p>
  
<span style="display:inline-block; padding:1em; background-image:url('https://unsplash.it/g/200/100/?blur&amp;random'); background-size:cover;">
<button class="button--ghost">A 'ghost' button.</button>
</span>

<span style="display:inline-block; padding:1em; background-image:url('https://unsplash.it/g/200/100/?blur&amp;random'); background-size:cover;">
<button class="button--ken--ghost">A coloured 'ghost' button.</button>
</span>

</p>

<p>
<button class="button--hulk button--full">Full width, coloured button.</button>
</p>