<p>
<input type="submit" value="Submit." class="button">
</p>

<p>
<button class="button">Button.</button>
<button class="button--ken">Coloured button.</button>
<button class="button--maggie">Another coloured button.</button>
</p>

<p>
  
<span style="display:inline-block; padding:1em; background-image:url('http://placekitten.com/g/300/200'); background-size:cover; -webkit-box-shadow: inset 0 0 100px #000000; -moz-box-shadow: inset 0 0 100px #000000; box-shadow: inset 0 0 100px #000000;">
<button class="button--ghost">A coloured 'ghost' button.</button>
</span>

<span style="display:inline-block; padding:1em; background-image:url('http://placekitten.com/g/300/200'); background-size:cover; -webkit-box-shadow: inset 0 0 100px #000000; -moz-box-shadow: inset 0 0 100px #000000; box-shadow: inset 0 0 100px #000000;">
<button class="button--barbie--ghost">A coloured 'ghost' button.</button>
</span>

</p>

<p>
<button class="button--hulk button--full">Full width, coloured button.</button>
</p>