<p>
<button class="button"><i class="icon-phone"></i> Button.</button>
<button class="button--ken"><i class="icon-close"></i> Coloured button.</button>
<button class="button--maggie"><i class="icon-marker"></i> Another coloured button.</button>
</p>

<p>
<button class="button--hulk button--block-icon"><i class="icon-checkmark"></i> Block icon button.</button>
</p>

<p>
<button class="button--hulk button--full"><i class="icon-checkmark"></i> Full width, coloured button.</button>
</p>