<div role="button-rules">


<p>
<button class="button"><i class="icon-phone"></i> Button.</button>
<button class="ken-bg"><i class="icon-close"></i> Coloured button.</button>
<button class="maggie-bg"><i class="icon-marker"></i> Another coloured button.</button>
</p>

<p>
<button class="hulk-bg button--block-icon"><i class="icon-checkmark"></i> Block icon button.</button>
</p>

<p>
<button class="hulk-bg button full"><i class="icon-checkmark"></i> Full width, coloured button.</button>
</p>


</div>