<div role="logo-rules">


  <div class="sg-logos">

    <figure>
      <img src="../../images/three-logo-url.svg" data-fallback="../../images/three-logo-url.png" alt="3">
    </figure>
    
    <!--
    <figure>
      <img src="../../images/three-logo.svg" data-fallback="../../images/three-logo.png" alt="3">
    </figure>
    -->

    <figure>
      <img src="../../images/three-logo-text.svg" data-fallback="../../images/three-logo-text.png" alt="Three">
    </figure>

  </div>


</div>

<!--
<span class="icon-three-logo u-text-size-000"><span class="visuallyhidden">3</span></span>

<span class="icon-threelogonotext u-text-size-000"><span class="visuallyhidden">3</span></span>
-->