<ul class="sg-colors">
	<li>
		<span class="sg-swatch background-ken"><span>Ken.</span></span>
		
		<dl class="definition--split">
			<dt>Hex</dt>
			<dd>#ec0044</dd>

			<dt>RGB</dt>
			<dd>R236 G0 B68</dd>
			
			<dt>CMYK</dt>
			<dd>C1 M100 Y7 K0</dd>
			
			<dt>PMS</dt>
			<dd>Red 032</dd>

			<dt>20% tint</dt>
			<dd>
				<span class="sg-swatch sg-swatch--minor background-ken--tint-20pc"><span>#fbccd9</span></span>
			</dd>
			<dt>60% tint</dt>
			<dd>
				<span class="sg-swatch sg-swatch--minor background-ken--tint-60pc"><span>#f3668e</span></span>
			</dd>
		</dl>

	</li>
	<li>
		<span class="sg-swatch background-hucknall"><span>Hucknall.</span></span>
				
		<dl class="definition--split">
			<dt>Hex</dt>
			<dd>#dc350e</dd>

			<dt>RGB</dt>
			<dd>R220 G53 B14</dd>
			
			<dt>CMYK</dt>
			<dd>C8 M93 Y100 K1</dd>
			
			<dt>PMS</dt>
			<dd>1665C</dd>

			<dt>20% tint</dt>
			<dd>
				<span class="sg-swatch sg-swatch--minor background-hucknall--tint-20pc"><span>#f8d6ce</span></span>
			</dd>
			<dt>60% tint</dt>
			<dd>
				<span class="sg-swatch sg-swatch--minor background-hucknall--tint-60pc"><span>#ea856e</span></span>
			</dd>
		</dl>

	</li>
	<li>
		<span class="sg-swatch background-barbie"><span>Barbie.</span></span>
				
		<dl class="definition--split">
			<dt>Hex</dt>
			<dd>#e90066</dd>

			<dt>RGB</dt>
			<dd>R233 G0 B102</dd>
			
			<dt>CMYK</dt>
			<dd>C2 M100 Y37 K0</dd>
			
			<dt>PMS</dt>
			<dd>812C</dd>

			<dt>20% tint</dt>
			<dd>
				<span class="sg-swatch sg-swatch--minor background-barbie--tint-20pc"><span>#facce0</span></span>
			</dd>
			<dt>60% tint</dt>
			<dd>
				<span class="sg-swatch sg-swatch--minor background-barbie--tint-60pc"><span>#f166a3</span></span>
			</dd>
		</dl>

	</li>
	<li>
		<span class="sg-swatch background-prince"><span>Prince.</span></span>
				
		<dl class="definition--split">
			<dt>Hex</dt>
			<dd>#82368c</dd>

			<dt>RGB</dt>
			<dd>R130 G54 B140</dd>
			
			<dt>CMYK</dt>
			<dd>C58 M94 Y6 K1</dd>
			
			<dt>PMS</dt>
			<dd>254C</dd>

			<dt>20% tint</dt>
			<dd>
				<span class="sg-swatch sg-swatch--minor background-prince--tint-20pc"><span>#e6d6e8</span></span>
			</dd>
			<dt>60% tint</dt>
			<dd>
				<span class="sg-swatch sg-swatch--minor background-prince--tint-60pc"><span>#b486ba</span></span>
			</dd>
		</dl>

	</li>
	<li>
		<span class="sg-swatch background-maggie"><span>Maggie.</span></span>
				
		<dl class="definition--split">
			<dt>Hex</dt>
			<dd>#007bc3</dd>

			<dt>RGB</dt>
			<dd>R0 G123 B195</dd>
			
			<dt>CMYK</dt>
			<dd>C85 M45 Y0 K0</dd>
			
			<dt>PMS</dt>
			<dd>2727C</dd>

			<dt>20% tint</dt>
			<dd>
				<span class="sg-swatch sg-swatch--minor background-maggie--tint-20pc"><span>#cce4f3</span></span>
			</dd>
			<dt>60% tint</dt>
			<dd>
				<span class="sg-swatch sg-swatch--minor background-maggie--tint-60pc"><span>#66afdb</span></span>
			</dd>
		</dl>

	</li>
	<li>
		<span class="sg-swatch background-kermit"><span>Kermit.</span></span>
				
		<dl class="definition--split">
			<dt>Hex</dt>
			<dd>#00857b</dd>

			<dt>RGB</dt>
			<dd>R0 G133 B123</dd>
			
			<dt>CMYK</dt>
			<dd>C86 M28 Y56 K7</dd>
			
			<dt>PMS</dt>
			<dd>314C</dd>

			<dt>20% tint</dt>
			<dd>
				<span class="sg-swatch sg-swatch--minor background-kermit--tint-20pc"><span>#cce6e4</span></span>
			</dd>
			<dt>60% tint</dt>
			<dd>
				<span class="sg-swatch sg-swatch--minor background-kermit--tint-60pc"><span>#66b5af</span></span>
			</dd>
		</dl>

	</li>
	<li>
		<span class="sg-swatch background-hulk"><span>Hulk.</span></span>
				
		<dl class="definition--split">
			<dt>Hex</dt>
			<dd>#00864e</dd>

			<dt>RGB</dt>
			<dd>R0 G134 B78</dd>
			
			<dt>CMYK</dt>
			<dd>C88 M23 Y89 K9</dd>
			
			<dt>PMS</dt>
			<dd>362C</dd>

			<dt>20% tint</dt>
			<dd>
				<span class="sg-swatch sg-swatch--minor background-hulk--tint-20pc"><span>#cce6db</span></span>
			</dd>
			<dt>60% tint</dt>
			<dd>
				<span class="sg-swatch sg-swatch--minor background-hulk--tint-60pc"><span>#66b694</span></span>
			</dd>
		</dl>

	</li>
	<li>
		<span class="sg-swatch background-clooney"><span>Clooney.</span></span>
				
		<dl class="definition--split">
			<dt>Hex</dt>
			<dd>#767676</dd>

			<dt>RGB</dt>
			<dd>R118 G118 B118</dd>
			
			<dt>CMYK</dt>
			<dd>C55 M47 Y46 K12</dd>
			
			<dt>PMS</dt>
			<dd>Cool Gray 10C</dd>

			<dt>20% tint</dt>
			<dd>
				<span class="sg-swatch sg-swatch--minor background-clooney--tint-20pc"><span>#e3e3e3</span></span>
			</dd>
			<dt>60% tint</dt>
			<dd>
				<span class="sg-swatch sg-swatch--minor background-clooney--tint-60pc"><span>#acacac</span></span>
			</dd>
		</dl>

	</li>
	<li>
		<span class="sg-swatch background-vader"><span>Vader.</span></span>
				
		<dl class="definition--split">
			<dt>Hex</dt>
			<dd>#000000</dd>

			<dt>RGB</dt>
			<dd>R0 G0 B0</dd>
			
			<dt>CMYK</dt>
			<dd>C0 M0 Y0 K100</dd>
			
			<dt>PMS</dt>
			<dd>Process Black C</dd>

			<dt>20% tint</dt>
			<dd>
				<span class="sg-swatch sg-swatch--minor background-vader--tint-20pc"><span>#ccc</span></span>
			</dd>
			<dt>60% tint</dt>
			<dd>
				<span class="sg-swatch sg-swatch--minor background-vader--tint-60pc"><span>#666</span></span>
			</dd>
		</dl>

	</li>
	<li>
		<span class="sg-swatch background-barry" style="border:1px solid #aaa;"><span class="colour-vader">Barry.</span></span>
				
		<dl class="definition--split">
			<dt>Hex</dt>
			<dd>#ffffff</dd>

			<dt>RGB</dt>
			<dd>R255 G255 B255</dd>
			
			<dt>CMYK</dt>
			<dd>C0 M0 Y0 K0</dd>
			
			<dt>PMS</dt>
			<dd>N/A</dd>

			<dt>20% tint</dt>
			<dd>
				<span class="sg-swatch sg-swatch--minor background-vader"><span>N/A</span></span>
			</dd>
			<dt>60% tint</dt>
			<dd>
				<span class="sg-swatch sg-swatch--minor background-vader"><span>N/A</span></span>
			</dd>			
		</dl>

	</li>
</ul>